body {
    margin: 0;
    padding: 0;
}
* {
    font-family: 'Lato', sans-serif;
}
html {
    scroll-behavior: smooth;
}
/*header part design start*/
#header-area {
    background-image: url(img/banner.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 30px 0 85px 0;
    height: 110vh;
    position: relative;
}
#header-area:after {
    position: absolute;
    content: '';
    clear: both;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(52, 40, 66, 0.5);
}
.custom-nav {
    z-index: 90;
    position: relative;
}
.custom-menu ul li a {
    color: #ffffff !important;
    font-size: 18px;
    font-weight: 400;
    padding: 0 18px !important;
}
.header-content {
    color: #ffffff;
    padding-top: 145px;
    position: relative;
    z-index: 90;
}
.header-content h3 {
    font-size: 30px;
    font-weight: 300;
    letter-spacing: 1px;
    padding-bottom: 20px;
}
.header-content h2 {
    font-size: 64px;
    font-weight: bold;
    text-transform: uppercase;
    padding-bottom: 65px;
}
.btn-custom {
    border: 3px solid #ffffff;
    font-size: 23px;
    font-weight: bold;
    color: #ffffff;
    padding: 12px 60px;
}
.btn-custom:hover {
    color: #ffffff;
}
/*header part design end*/
/*development design start*/
.development {
    padding-top: 90px;
}
.develop-content h2 {
    font-size: 58px;
    margin-right: 52px;
}
.develop-content p {
    color: #a2a2a2;
    font-size: 18px;
    font-weight: normal;
    line-height: 26px;
    padding-bottom: 15px;
    text-align: left;
}
.dev-description {
    padding: 40px 0 0 87px;
}
.develop-image {
    padding: 38px 0px 10px 0px;
    margin-right: 60px;
}
/*development design end*/
/*branding design start*/
#branding {
    padding: 130px 0 75px 0;
    position: relative;
}
#branding:before {
    position: absolute;
    content: '';
    clear: both;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgb(250, 250, 250);
}
.branding-content h2 {
    font-size: 58px;
    margin-right: 100px;
}
.branding-content p {
    color: #a2a2a2;
    font-size: 16px;
    font-weight: normal;
    line-height: 26px;
    padding-top: 20px;
    text-align: left;
    width: 88%;
}
.brand-description {
    padding: 0 0 0 87px;
}
.branding-image {
    padding: 25px 0 0 70px;
    margin-right: -95px;
}
/*branding design end*/
/*service part design start*/
.service-part {
    padding: 125px 0 45px 115px;
}
.icon-img {
    color: #ffffff;
    width: 70px;
    height: 70px;
    background: #000000;
    border-radius: 50%;
    text-align: center;
    padding: 7px;
    font-size: 35px;
}
.icon-text h4 {
    font-size: 22px;
    font-weight: 400;
    text-transform: capitalize;
}
.icon-text p {
    font-size: 16px;
    color: #777777;
    width: 87%;
    line-height: 25px;
}
.single-service {
    padding-bottom: 40px;
}
/*service part design end*/
